In [2]:
def get_calories(joule):
    return joule/4184

In [40]:
strings = ['Ёж', 'зелёный', 'ЕЁ', 'гЁТЬёсЮёёзЪЁЁЙ']

In [12]:
def replacer(strings):
    return list(map((lambda x: x.replace('Ё', 'Е').replace('ё', 'е') ), strings))

In [47]:
replacer(strings)

In [46]:
def replacer(strings):
    strings = list(map((lambda x: x.replace('Ё', 'Е').replace('ё', 'е') ), strings))
    #print(strings)

In [43]:
print(strings)

['Ёж', 'зелёный', 'ЕЁ', 'гЁТЬёсЮёёзЪЁЁЙ']

In [53]:
accounts = {'@blogger13999': 2308, '@dragondragon': 1473, '@account': 1400, '@flowers': 1250, '@banana': 1500}
min_followers = 1400
max_followers = 1500

In [62]:
for i in accounts:
    print(i.values)

AttributeError: 'str' object has no attribute 'values'

In [68]:
st = list(filter(lambda x: min_followers <= x[1] <= max_followers, accounts.items()))
list(map(lambda x: x[0], st))

['@dragondragon', '@account', '@banana']

In [72]:
def filter_accounts(accounts, min_followers, max_followers):
    st = list(filter(lambda x: min_followers <= x[1] <= max_followers, accounts.items()))
    return sorted(list(map(lambda x: x[0], st)))

In [73]:
filter_accounts(accounts, min_followers, max_followers)

['@account', '@banana', '@dragondragon']

In [84]:
from string import punctuation
new_st = ''
st = "На что нужен экипаж в городе, где нет и четырех тысяч жителей? Долой папу! (Дела с Римом запутывались.) Я за Цезаря, и только за Цезаря. И т.д. и т.д."
for i in st:
    if i in punctuation:
        i = ''
    new_st += i.upper()
print(new_st)

НА ЧТО НУЖЕН ЭКИПАЖ В ГОРОДЕ ГДЕ НЕТ И ЧЕТЫРЕХ ТЫСЯЧ ЖИТЕЛЕЙ ДОЛОЙ ПАПУ ДЕЛА С РИМОМ ЗАПУТЫВАЛИСЬ Я ЗА ЦЕЗАРЯ И ТОЛЬКО ЗА ЦЕЗАРЯ И ТД И ТД

In [92]:
from math import pi, sqrt
i = int(input())
d = sqrt(i)
p = pi * d
print(p)

4
6.283185307179586

In [89]:
from math import pi, sqrt
i = int(input())
n = sqrt(i)
n

4

2.0

In [103]:
t = ['Марат', '20', 'Москва', 'ВШЭ']
t[0] = 'mkmk'
print(t)

['mkmk', '20', 'Москва', 'ВШЭ']

In [105]:
def changer(i, n, t):
    i[n] = t
    return i

In [119]:
from calendar import weekday
import datetime as dt
import string as str
d = '16-02-1997'.split('-')
dt.date(int(d[2]), int(d[1]), int(d[0])).weekday()

6

In [125]:
from calendar import weekday
import datetime as dt

def is_birthday_weekend(d, year):
    d = d.split('-')
    nm = dt.date(int(year), int(d[1]), int(d[0])).weekday()
    if nm in (5,6):
        return 'Ура, выходной в День рождения!'
    else:
        return 'В День рождения придется поработать.'

In [126]:
is_birthday_weekend('14-11-1995', 2020)

'Ура, выходной в День рождения!'

In [127]:
def multiples_50(cnt):
    if int(cnt) % 50 == 0:
        return 'Банкомат может выдать эту сумму'
    else:
        return 'Банкомат не может выдать эту сумму'

In [130]:
multiples_50(550)

'Банкомат может выдать эту сумму'

In [ ]:
def group_goods(lst):

In [165]:
lst = ['молоко; молочные продукты', 'помидоры; овощи', 'огурцы; овощи', 'творог; молочные продукты', 'сыр; молочные продукты']

dic = {}

for i in lst:
    n = (i.split('; '))
    dic[n[1]] = n[0] 
    print(dic)

{'молочные продукты': 'молоко'}
{'молочные продукты': 'молоко', 'овощи': 'помидоры'}
{'молочные продукты': 'молоко', 'овощи': 'огурцы'}
{'молочные продукты': 'творог', 'овощи': 'огурцы'}
{'молочные продукты': 'сыр', 'овощи': 'огурцы'}

In [167]:
lst = ['молоко; молочные продукты', 'помидоры; овощи', 'огурцы; овощи', 'творог; молочные продукты', 'сыр; молочные продукты']

dic = {}

for i in lst:
    n = (i.split('; '))
    print(n[0], n[1])

молоко молочные продукты
помидоры овощи
огурцы овощи
творог молочные продукты
сыр молочные продукты